@import '../node_modules/@angular/material/theming';

@include mat-core();

// Define the default theme (same as the example above).
$app-primary: mat-palette($mat-purple);
$app-accent:  mat-palette($mat-light-blue);
$app-theme:   mat-light-theme($app-primary, $app-accent);

