# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
/tmp
/out-tsc
**/kauri-wallet-darwin-x64
**/kauri-wallet-linux-x64

# Cordova

# iOS
packages/cordova/platforms/ios/build/
packages/cordova/platforms/ios/www/
packages/cordova/platforms/ios/cordova/console.log
packages/cordova/*.xcuserdatad

# android
packages/cordova/platforms/android/assets/www
packages/cordova/platforms/android/bin
packages/cordova/platforms/android/gen
packages/cordova/platforms/android/local.properties
packages/cordova/platforms/android/ant-build
packages/cordova/platforms/android/ant-gen
packages/cordova/platforms/android/CordovaLib/ant-build
packages/cordova/platforms/android/CordovaLib/ant-gen
packages/cordova/platforms/android/CordovaLib/bin
packages/cordova/platforms/android/CordovaLib/gen
packages/cordova/platforms/android/CordovaLib/local.properties

# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Netlify
netlifyctl-debug.log
