<h2 i18n="A header">Test App</h2>
<select name="" id="">
  <option value="" i18n="This is a select translation">Cat</option>
  <option value="" i18n>Dog</option>
  <option value="" i18n>Bird</option>
</select>
<div i18n="Test currency">Currency: {{currencyVal | currency: currentCurr :'symbol'}}</div>
<div>Date: {{testDate | date: 'fullDate' }}</div>
<div>Time: {{testDate | date: 'fullTime'}}</div>

<Select>
  <option value="" i18n>English-US</option>
  <option value="" i18n>Japanese</option>
  <option value="" i18n>German</option>
</Select>